<div class='card'>
  <div class='card-header'>
    {{pageTitle}}
  </div>
  <div class='card-body'>
    
    <div class='table-responsive'>
      <table class='table'>
        <thead>
          <tr>
            <th>Product</th>
            <th>Code</th>
            <th>Description</th>
            <th>Price</th>
            <th>Rating</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor = 'let product of products; let i = index' (click) = 'onRowClick(i)' [class.active]='i == selectedRow'>
           
            <td>{{product.productName}}</td>
            <td>{{product.productCode | lowercase }}</td>
            <td>{{product.description}}</td>
            <td>{{product.price | currency: 'USD' : 'symbol':'1.2-2'}}</td>
            <td><i class="fa fa-heart"></i><span>{{count}}</span></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>